block vars
  - var category = "index"
  - var page = "index"

extend _layout

block head
  style
    include ../css/style.css

block main
  textarea#source
    | name: inverse
    | layout: true
    | class: center, middle, inverse
    | ---
    | # 怖くない黒い画面
    | ---
    | layout: false
    | class: left, top, inverse
    | # Agenda
    | 
    | * 黒い画面とは (What)
    | 
    | * 何故黒い画面なのか (Why)
    | 
    | * どの様に使うか (How)

block script
  script(src="js/remark-latest.min.js")
  script.
    var slideshow = remark.create();
