block vars
  - var category = "index"
  - var page = "index"

extend _layout

block head
  style
    include ../css/style.css

block main
  textarea#source
    | name: inverse
    | layout: true
    | class: center, middle, inverse
    | ---
    | # 怖くない黒い画面
    | ---
    | layout: false
    | class: left, top, inverse
    | # Agenda
    | 
    | * 黒い画面とは (What)
    | 
    | * 何故黒い画面なのか (Why)
    | 
    | * どの様に使うか (How)
    | ---
    | class: center, middle, inverse
    | # 黒い画面とは
    | ---
    | class: two-column
    | .left-column[
    | ## 黒い画面とは
    | ### Mac is Unix
    | ]
    | .right-column[
    | # Mac is Unix
    | 
    | <a href="http://commons.wikimedia.org/wiki/File:Unix_history-simple.png#mediaviewer/File:Unix_history-simple.png"><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Unix_history-simple.png/1200px-Unix_history-simple.png" alt="Unix history-simple.png"></a>
    | 
    | .footnote["<a href="http://commons.wikimedia.org/wiki/File:Unix_history-simple.png#mediaviewer/File:Unix_history-simple.png">Unix history-simple</a>" by <a href="//commons.wikimedia.org/wiki/User:Eraserhead1" title="User:Eraserhead1">Eraserhead1</a> - <span class="int-own-work">投稿者自身による作品</span>. Information sourced from <a rel="nofollow" class="external text" href="http://www.levenez.com/unix/history.html">www.levenez.com/unix/history.html</a>. Licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC 表示-継承 3.0</a> via <a href="//commons.wikimedia.org/wiki/">ウィキメディア・コモンズ</a>.]
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## 黒い画面とは
    | ### Mac is Unix
    | ### Unix is CUI
    | ]
    | .right-column[
    | # Unix is CUI
    | 
    | ![](img/386bsd_04.jpg)
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## 黒い画面とは
    | ### Mac is Unix
    | ### Unix is CUI
    | ]
    | .right-column[
    | # Unix is CUI
    | 
    | ![](img/freebsd-7.0.png)
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## 黒い画面とは
    | ### Mac is Unix
    | ### Unix is CUI
    | ]
    | .right-column[
    | # Unix is CUI
    | 
    | ## **GUIは甘え**
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## 黒い画面とは
    | ### Mac is Unix
    | ### Unix is CUI
    | ### So that ...
    | ]
    | .right-column[
    | # So that ...
    | 
    | **そういうもの**だと思って触ってみる！！
    | 
    | **意識の持ち方**は重要
    | 
    | 黒い画面で出来る事を見つけたら、**試しに**やってみる
    | ]
    | ---
    | class: center, middle, inverse
    | # 何故黒い画面なのか
    | ---
    | class: two-column
    | .left-column[
    | ## 何故黒い画面なのか
    | ### Only one thing
    | ]
    | .right-column[
    | # Only one thing
    | 
    | ## **キーボードから手を離したくない**
    | 
    | ただそれだけ
    | ]
    | ---
    | class: center, middle, inverse
    | # どの様に使うか
    | ---
    | class: two-column
    | .left-column[
    | ## どの様に使うか
    | ### 設定を変更する
    | ]
    | .right-column[
    | # 設定を変更する
    | 
    | ## 隠しファイルを表示する
    | 
    | ```bash
    | $ defaults write com.apple.finder AppleShowAllFiles true
    | $ killall Finder
    | ```
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## どの様に使うか
    | ### 設定を変更する
    | ]
    | .right-column[
    | # 設定を変更する
    | 
    | ## クイックルック内のテキストをコピーする
    | 
    | ```bash
    | $ defaults write com.apple.finder QLEnableTextSelection -bool true
    | $ killall Finder
    | ```
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## どの様に使うか
    | ### 設定を変更する
    | ### アプリケーション起動
    | ]
    | .right-column[
    | # アプリケーション起動
    | 
    | ## Sublime Text
    | 
    | [subl](http://www.sublimetext.com/docs/2/osx_command_line.html)
    | 
    | ```bash
    | $ cd path/to/folder/
    | $ subl
    | ```
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## どの様に使うか
    | ### 設定を変更する
    | ### アプリケーション起動
    | ]
    | .right-column[
    | # アプリケーション起動
    | 
    | ## Atom
    | 
    | [atom](https://atom.io/)
    | ```bash
    | $ cd path/to/folder/
    | $ atom
    | ```
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## どの様に使うか
    | ### 設定を変更する
    | ### アプリケーション起動
    | ]
    | .right-column[
    | # アプリケーション起動
    | 
    | ## GUI
    | 
    | 1. マウス 持つ
    | 2. マウス 動かす
    | 3. エディタ 起動
    | 4. 目的のフォルダ選択
    | 5. マウス クリック (階層が深ければ深いだけ回数は増える)
    | 6. キーボード 手を置く
    | 7. コーディング開始
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## どの様に使うか
    | ### 設定を変更する
    | ### アプリケーション起動
    | ]
    | .right-column[
    | # アプリケーション起動
    | 
    | ## 黒い画面
    | 
    | 1. マウス 持つ
    | 2. マウス 動かす
    | 3. 黒い画面 起動
    | 4. キーボード 手を置く
    | 5. `cd path/to/folder/` (過去に入力してる場合は矢印キーで遡れる)
    | 6. `atom`
    | 7. コーディング開始
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## どの様に使うか
    | ### 設定を変更する
    | ### アプリケーション起動
    | ]
    | .right-column[
    | # アプリケーション起動
    | 
    | ## Source Tree
    | 
    | ![](img/Screen Shot 2015-01-17 at 1.58.57 PM.png)
    | 
    | 1. Source Tree 起動
    | 2. `Terminal` クリック (黒い画面起動 & `cd path/to/folder/` 自動入力 & コマンド発火)
    | 3. `atom`
    | 4. コーディング開始
    | ]
    | ---
    | class: center, middle, inverse
    | # まとめ
    | ---
    | class: center, middle, inverse
    | # 黒い画面で出来る事を見つけたら、**試しに**やってみる

block script
  script(src="js/remark-latest.min.js")
  script.
    var slideshow = remark.create();
