block vars
  - var category = "index"
  - var page = "index"

extend _layout

block head
  style
    include ../css/style.css

block main
  textarea#source
    | name: inverse
    | layout: true
    | class: center, middle, inverse
    | ---
    | # 怖くない黒い画面
    | ---
    | layout: false
    | class: left, top, inverse
    | # Agenda
    | 
    | * 黒い画面とは (What)
    | 
    | * 何故黒い画面なのか (Why)
    | 
    | * どの様に使うか (How)
    | ---
    | class: center, middle, inverse
    | # 黒い画面とは
    | ---
    | class: two-column
    | .left-column[
    | ## 黒い画面とは
    | ### Mac is Unix
    | ]
    | .right-column[
    | # Mac is Unix
    | 
    | <a href="http://commons.wikimedia.org/wiki/File:Unix_history-simple.png#mediaviewer/File:Unix_history-simple.png"><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Unix_history-simple.png/1200px-Unix_history-simple.png" alt="Unix history-simple.png"></a>
    | 
    | .footnote["<a href="http://commons.wikimedia.org/wiki/File:Unix_history-simple.png#mediaviewer/File:Unix_history-simple.png">Unix history-simple</a>" by <a href="//commons.wikimedia.org/wiki/User:Eraserhead1" title="User:Eraserhead1">Eraserhead1</a> - <span class="int-own-work">投稿者自身による作品</span>. Information sourced from <a rel="nofollow" class="external text" href="http://www.levenez.com/unix/history.html">www.levenez.com/unix/history.html</a>. Licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC 表示-継承 3.0</a> via <a href="//commons.wikimedia.org/wiki/">ウィキメディア・コモンズ</a>.]
    | ]

block script
  script(src="js/remark-latest.min.js")
  script.
    var slideshow = remark.create();
